!!!
%html
    %head
        %meta{:name=>"viewport", :content=>"initial-scale=1.0, user-scalable=no"}
        %title Acortador de URLs
        %link{:type => "text/css", :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
        %link{:type => "text/css", :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
        %link{:type => "text/css", :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"}
        %link{:type => "text/css", :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Montserrat:400,700"}
        %link{:type => "text/css", :rel => "stylesheet", :href=>"https://raw.githubusercontent.com/IronSummitMedia/startbootstrap/gh-pages/templates/freelancer/css/freelancer.css"}
        %link{:type => "text/css", :rel => "stylesheet", :href=>"//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
        %link{:type => "text/css", :rel => "stylesheet", :href=>"/style.css"}
        %script(src="/show.js")
    %body#page-top.index
        / Navigation
        %nav.navbar.navbar-default.navbar-inverse
            .container
                / Brand and toggle get grouped for better mobile display
                .navbar-header.page-scroll
                    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                        %span.sr-only Toggle navigation
                        %span.icon-bar
                        %span.icon-bar
                        %span.icon-bar
                    %a.navbar-brand{:href => "/"} Cortador de URL
                / Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    %ul.nav.navbar-nav.navbar-right
                        %li.hidden
                            %a{:href => "/"}

                        - if !session[:uid]
                                
                            %li.page-scroll
                                %a{:href => "/auth/google_oauth2"}
                                    %button.btn.btn-success
                                        %i.fa.fa-google
                                        Iniciar Sesi칩n con Google
                        - else
                            %li.page-scroll
                                %a{:href => "/auth/logout"}
                                    %button.btn.btn-danger
                                        - if session[:plt] == 'google'
                                            %i.fa.fa-google
                                            Cerrar Sesi칩n
        %section
            .container
                .page-header
                    .jumbotron
                        %h1 Acortador de URL's
                        %h2 Guarda tus URL's con tu cuenta de Google
                =yield
                .panel.panel-primary
                    - if !session[:uid]
                        .panel-heading
                            %h1 Crea nuevas URL's (Publicas)
                    - else
                        .panel-heading
                            %h1 Crea nuevas URL's (Privadas) con tu usuario: #{session[:plt]}
                    .panel-body
                        %form(action="/" method="POST")
                            .input-group
                                %span.input-group-addon URL
                                %input.form-control(type="text" name="url" id="myurl"  size=100 accesskey="s" placeholder="URL Original")
                            %br
                            .input-group
                                %span.input-group-addon URL
                                %input.form-control(type="text" name="urlshort" id="myurlshort"  size=100 accesskey="s" placeholder="URL Corta")
                            %br
                            %input.btn.btn-success(type="submit" value="Cortar")
                    - if @message != nil
                        #ERROR.alert.alert-danger
                            %span #{@message}
        %br
        %br
        %nav.navbar-fixed-bottom.navbar-inverse
            .container
                %p.navbar-text Jonathan Barrera Delgado
                %p.navbar-text Daniel Nicol치s Fern치ndez Del Castillo Salazar
        %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")